@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
body{
    font-family: 'Roboto Mono';
    background-color: #f6f6f9;;
}
.nav-container{
    background-color: rgb(239, 238, 237);
    border-radius: 10px;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 5px 5px 5px black;
    

}
.nav-container:hover{
    box-shadow: none;
    border: 2px solid black;
}
.nav-container li{
    list-style: none;
    padding: 0 10px;
    
    
}
.nav-container ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    
}
.nav-container img{
    margin-right: 10px;
    border-radius: 10px;
}
.nav-container .left{
display: flex;
align-items: center;}
.nav-container .center {
    text-align: center;
    flex-grow: 1;
    font-weight: bold;
}
.nav-container .right {
    text-align: right;
}

.main{

    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
   
}
.main-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
}
.main-content li{
    list-style: none;
    border: 2px solid black;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    transition: transform 0.3s ease;
    background-color: whitesmoke;
}
.main-content li:hover{
    transform: scale(1.05);
    background-color: aliceblue;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}
.main-content li a {
    text-decoration: none;
    color: black;
}